@use './vendor';
* {
	box-sizing: border-box;
}
html, body {
	display: flex;
	margin: 0;
	padding: 0;
}
html {
	flex-flow: row nowrap;
	min-height: 100%;
}
body {
	flex-flow: column nowrap;
	flex-grow: 1;
}
header, footer, main, section, article, menu {
	margin: 0;
	padding: 0;
}
